name: Build content

on:
  push:
    paths:
      - db/jks.csv
  workflow_dispatch:

permissions:
  contents: read

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.153.4
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Install Dart Sass
        run: sudo snap install dart-sass

      - name: Checkout
        uses: actions/checkout@v4
        with:
          # lfs: true
          submodules: recursive

      - name: Build piesne
        working-directory: hugo
        run: |
          # Cleanup
          rm -fr content/$CONTENT_HOME public/*

          # Build
          while IFS="," read -r piesen strofa text; do
            text=${text//\"/}
            CONTENT_FILE="${CONTENT_HOME}/${piesen}.md"

            if [[ $strofa -eq 0 ]]; then
              hugo new content $CONTENT_FILE -f
              sed -i "s|title: .*|title: '${piesen}. ${text}'|" content/$CONTENT_FILE
              continue
            fi
            echo "${strofa}. ${text}" >>content/$CONTENT_FILE
          done <$SOURCE_DB
        env:
          CONTENT_HOME: piesne
          SOURCE_DB: ${{ github.workspace }}/db/jks.csv

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: update content"
