on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  security-events: write

name: checkov

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          soft_fail: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        if: success() || failure()
        with:
          sarif_file: results.sarif
